<h2>All Celebrities:</h2>
<ul>
    {{#each celebrities }}
        <li>
            <p>Name: {{ name }}</p>
            <p>Occupation: {{ occupation }}</p>
            <p>Catch Phrase: {{ catchPhrase }}</p>
        </li>
    {{/each}}
</ul>